<h1>Lista de Productos</h1>
<ul id="productList"></ul>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  // Escuchar el evento 'productList' y actualizar la lista de productos
  socket.on('productList', products => {
    const productList = document.getElementById('productList');
    productList.innerHTML = '';

    products.forEach(product => {
      const listItem = document.createElement('li');
      listItem.textContent = `${product.id} - ${product.title} - ${product.price}`;
      productList.appendChild(listItem);
    });
  });
</script>